<!doctype html>
<html lang="en" data-theme="light">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Plataforma</title>
    <link rel="stylesheet" href="{% static 'bulma.css' %}">
    <link rel="icon" type="image/png" href="{% static 'media/platform_logo_v2.svg' %}">
  </head>
  <body class="{% block body_class %}has-background-white{% endblock %}">
    <div class="container is-fluid p-4 px-0 ">
      {% block content %}
      {% endblock%}
    </div>

  </body>
</html>