{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}

<div class="columns is-centered is-vcentered" style="height: 70vh;">
  <div class="column is-two-fifths">
    <div class="dropdown my-4">
      <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
          <span>Búsqueda</span>
          <span class="icon is-small">
            <img src="{% static 'media/dropdown-arrow.svg' %}" class="is-128x128">
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
          <a class="dropdown-item is-active" data-val="0">Búsqueda</a>
          <a class="dropdown-item" data-val="1">Recomendación</a>
          <a class="dropdown-item" data-val="2">Recomendación personalizada</a>
        </div>
      </div>
    </div>
    <!-- Seccion de Busqueda -->
    <div class="field is-grouped" id="search-section">
      <p class="control is-expanded">
        <input class="input is-medium" type="text" placeholder="Búsqueda de colaboradores">
      </p>
      <p class="control">
        <button class="button is-primary is-medium has-text-white">
          Buscar
        </button>
      </p>
    </div>
    <!-- Seccion de Recomendación-->
    <!-- Seccion de Recomendacion personalizada -->
  </div>
</div>

<script>
let dropdownVal = 0;

document.addEventListener('DOMContentLoaded', () => {
  const dropdown = document.querySelector('.dropdown');
  const button = dropdown.querySelector('.dropdown-trigger button');
  const items = dropdown.querySelectorAll('.dropdown-item');
  const spanText = button.querySelector('span:first-child');
  const searchSection = document.getElementById('search-section');

  // Inicialmente mostrar u ocultar según dropdownVal
  searchSection.style.display = dropdownVal === 0 ? 'flex' : 'none';

  button.addEventListener('click', (e) => {
    e.preventDefault();
    dropdown.classList.toggle('is-active');
  });

  items.forEach(item => {
    item.addEventListener('click', (e) => {
      e.preventDefault();

      // Quitar is-active de todos
      items.forEach(i => i.classList.remove('is-active'));

      // Marcar el seleccionado
      item.classList.add('is-active');

      // Cambiar texto del botón al seleccionado
      spanText.textContent = item.textContent.trim();

      // Cambiar el valor de dropdownVal
      dropdownVal = parseInt(item.getAttribute('data-val'));

      // Mostrar u ocultar sección según dropdownVal
      if (dropdownVal === 0) {
        searchSection.style.display = 'flex'; // o '' para usar el estilo por defecto
      } else {
        searchSection.style.display = 'none';
      }

      // Cerrar dropdown
      dropdown.classList.remove('is-active');
    });
  });
});
</script>


{% endblock %}